@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 50% 98%;
    --foreground: 30 10% 25%;
    --card: 35 25% 98%;
    --card-foreground: 30 10% 25%;
    --popover: 35 25% 98%;
    --popover-foreground: 30 10% 25%;
    --primary: 38 61% 53%;
    --primary-foreground: 30 10% 15%;
    --secondary: 35 25% 96%;
    --secondary-foreground: 30 10% 25%;
    --muted: 35 25% 93%;
    --muted-foreground: 30 10% 45%;
    --accent: 38 61% 53%;
    --accent-foreground: 30 10% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 20% 88%;
    --input: 35 20% 90%;
    --ring: 38 61% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 30 10% 10%;
    --foreground: 35 33% 96%;
    --card: 30 10% 12%;
    --card-foreground: 35 33% 96%;
    --popover: 30 10% 12%;
    --popover-foreground: 35 33% 96%;
    --primary: 38 61% 53%;
    --primary-foreground: 30 10% 15%;
    --secondary: 30 10% 15%;
    --secondary-foreground: 35 33% 96%;
    --muted: 30 10% 15%;
    --muted-foreground: 35 20% 70%;
    --accent: 38 61% 43%;
    --accent-foreground: 30 10% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 25%;
    --input: 30 10% 25%;
    --ring: 38 61% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
